<section class="d-flex flex-row">
  <div class="search-task input-group mb-3">
    <input type="search" class="form-control" placeholder="Search by task name" aria-label="Search by task name"
      aria-describedby="basic-addon1">
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="toBeDone">
    <label class="form-check-label" for="toBeDone">
      To be done
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="completed">
    <label class="form-check-label" for="completed">
      Completed
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="viewAll">
    <label class="form-check-label" for="viewAll">
      View All
    </label>
  </div>
</section>
